.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png');
  height: 100vh;
  background-size: cover;
  color: black;
  font-size: 20px;
  text-align: center;
}

.container {
  background-color: skyblue;
  margin-left: 30px;
  margin-right: 30px;
}
